/******************************************************************
Site Name:
Author:

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/

.wrap {
    width: 98%;
    max-width: 1140px;
    margin: auto;
}

/*********************
TEMPORARY ADDONS
*********************/

#banniere-cont {
	height: 349px;
	margin: 45px auto -33px;
	position: relative;
	max-width: 1140px;
}

#banniere-logo {
	position:absolute;
	left: -40px;
	height: 349px;
	width: 805px;
	z-index: 3;
}

#banniere-image {
    background-image: url('../images/20xx_photo-foule.png');
	position:absolute;
	right: 0;
	top: 60px;
	//z-index: -1;
	height: 255px;
	width: 691px;
	z-index: 1;
}

#row-cartouche-header {
	/*$total_columns: 	14;			// 				//
	$total_width:		1140px; 		// px|100% 		// px = fixed, 100% = fluid
	$gutter_width:		30px;			// px|%			// px = fixed, % = fluid
	$container_margin:	auto;			// auto|px|%	//*/

	//height: 350px;
	//@include container();
	
	//<img src="<?php echo get_template_directory_uri(); ?>/library/images/bandeau.png" style="margin-top:45px;margin-bottom:-45px;">
	
	position: absolute;
	top: 200px;
	z-index: 9;
    
    max-width: 1140px;
	
	.cartouche-header {
		background-color: $gf-semilight-purple;
		height: 60px;
		text-align: center;
		overflow: hidden;
    -moz-transition: height 0.2s ease-in-out;
    -webkit-transition: height 0.2s ease-in-out;
    -moz-transition: height 0.2s ease-in-out;
    -o-transition: height 0.2s ease-in-out;
    transition: height 0.2s ease-in-out;
		p:first-child {
			font-family: Ubuntu;
			font-size: 20px;
			background-color:$gf-dark-purple;
			//position: relative;
			//top:0;
			margin: 0;
		}
	}
	.cartouche-header:hover {
			height:120px;
		
	}
	
	#rih-1 {
		//@include column(3);
		//@include push(8);
        //z-index: 10;
	}
	#rih-2{
		//@include column(3);
		//@include push(11);
       //z-index: 11;
	}
}

#top-nav-editions {
    max-width: 1140px;
    margin: 0 auto;
}

.nav-editions { 
    @include grid-row();
    position: absolute;
	top: 200px;
	z-index: 9;
    
    max-width: 1140px;
        
	> li {
        @include grid-column($columns:5,$float:right);
        @include transition(height 0.2s ease-in-out);
		height: 60px;
		text-align: center;
		overflow: hidden;
        
        &:hover, &:focus {
            height: 120px;
        }

		&:first-child { margin-right: 15px; }
		&:last-child {}

        a {
            font-size: 20px;
            display: block;
            height: 30px;
            background-color: $gf-dark-purple;
		}

		/*
		plan your menus and drop-downs wisely.
		*/
		ul.sub-menu,
		ul.children {
			margin: 0;
			//z-index: 8999;

			li {

				a {
                    font-family: $sans-serif-condensed;
                    font-size: 16px;
                    background-color: $gf-semilight-purple;
                    text-decoration: none;
                    padding-top: 2px;

					&:hover,
					&:focus {}

					&:link {}

				}

				&:first-child {}

				&:last-child {
                    a { text-decoration: underline; }
                }

			}

			/* highlight sub-menu current page */
			li.current-menu-item,
			li.current_page_item,
			li.current_page_ancestor {
				a {}
			}
		}

	} /* end .menu ul li */

	/* highlight current page */
	li.current-menu-item,
	li.current_page_item,
	li.current_page_ancestor {
		a {}
	}  /* end current highlighters */

} /* end .nav-editions */