/******************************************************************
Site Name:
Author:

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/

.wrap {
    width: 98%;
    max-width: 1140px;
    margin: auto;
}

/*********************
TEMPORARY ADDONS
*********************/

#banniere-cont {
	height: 349px;
	margin: 45px auto -33px;
	position: relative;
	max-width: 1140px;
}

#banniere-logo {
	position:absolute;
	left: -40px;
	height: 349px;
	width: 805px;
	z-index: 3;
}

#banniere-image {
    background-image: url('../images/20xx_photo-foule.png');
	position:absolute;
	right: 0;
	top: 60px;
	//z-index: -1;
	height: 255px;
	width: 691px;
	z-index: 1;
}